html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  position: relative;
  bottom: 50px;
  float: right;
}

ul a {
  text-decoration: none;
  color: white; 
  padding: 10px;
}

ul a:hover {
  color: #FFBC00;
}
 
body {
  margin: 0;
  padding: 0;
}
 
header {
  padding: 10px;
  background-color: #000;
}
 
.brand a:hover {
  color: #FFBC00;
}

.brand a {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 3em;
  text-decoration: none;
  font-weight: bold;
  color: white;
}



li {
  display: inline;
  text-decoration: none;
  color: white;
}
 
.brand a:hover {
  text-decoration: none;
}

.features div{
  float: left;
  width: 33%;
}

/*.icon-beer {
  float: left;
  width: 33%;
}*/


/*.icon-cofee {
  float: center;
  width: 33%;
}

.icon-food {
  float: right;
  width: 33%;
}*/
 
.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
 
.marketing {
  position: relative;
  padding: 10px;
  margin: 1em 0;
  background-color: #555;
  clear: both;
  color: white;
}

.container div {
  margin-bottom: 30px;
}

h3 {
  text-align: center;
}

.features div p {
  margin-bottom: 45px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

.features div:nth-child(2) {
  border-left: 1px dotted black;
  border-right: 1px dotted black;
}

.features div p {
  padding-left: 25px;
  padding-right: 25px;
}
