html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  position: relative;
  bottom: 50px;
}

ul a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

ul a:hover {
  color: #ff0;
}

header {
  padding: 10px;
  background-color: #000;
}

.brand a:hover {
  color: #ff0;
  text-decoration: underline;
}

.brand a {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 3em;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.features div:nth-child(2) {
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}

.features p{
  padding: 0px 20px 0px 20px;
}

h3 {
  text-align: center;
}

li {
  display: inline;
  float: right;
  text-decoration: none;
  color: white;
}

.brand a:hover {
  text-decoration: none;
}

.features div{
  float: left;
  width: 33%;
}

.container {
  width: 100%;
  margin: 0px auto;
}

.marketing {
  padding: 10px;
  margin: 0px 140px;
  background-color: #555;
  clear: both;
  color: white;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  margin-top: 20px;
}
